In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("income dataset/train.csv")

In [4]:
df.shape

(43957, 15)

In [6]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income_>50K
count,43957.000000,4.395700e+04,43957.000000,43957.000000,43957.000000,43957.000000,43957.000000
mean,38.617149,1.896730e+05,10.074118,1093.559797,88.246491,40.407694,0.239279
std,13.734401,1.058215e+05,2.575092,7570.536063,404.588410,12.400303,0.426648
min,17.000000,1.349200e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.174960e+05,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,1.781000e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,2.376710e+05,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

In [10]:
df.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43957 entries, 0 to 43956
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              43957 non-null  int64
 1   workclass        41459 non-null  object
 2   fnlwgt           43957 non-null  int64
 3   education        43957 non-null  object
 4   educational-num  43957 non-null  int64
 5   marital-status   43957 non-null  object
 6   occupation       41451 non-null  object
 7   relationship     43957 non-null  object
 8   race             43957 non-null  object
 9   gender           43957 non-null  object
 10  capital-gain     43957 non-null  int64
 11  capital-loss     43957 non-null  int64
 12  hours-per-week   43957 non-null  int64
 13  native-country   43194 non-null  object
 14  income_>50K      43957 non-null  int64
dtypes: int64(7), object(8)
memory usage: 5.0+ MB

In [19]:
df["income_>50K"].value_counts()

0    33439
1    10518
Name: income_>50K, dtype: int64

In [21]:
df.isnull().count()

age                43957
workclass          43957
fnlwgt             43957
education          43957
educational-num    43957
marital-status     43957
occupation         43957
relationship       43957
race               43957
gender             43957
capital-gain       43957
capital-loss       43957
hours-per-week     43957
native-country     43957
income_>50K        43957
dtype: int64

#### Balance and imbalance Data set

In [23]:
import sklearn

In [24]:
print(sklearn.__version__)

1.5.2

In [31]:
! pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\hp\anaconda3\lib\site-packages (0.10.1)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.13.0-py3-none-any.whl (238 kB)
     -------------------------------------- 238.4/238.4 kB 2.4 MB/s eta 0:00:00
Collecting sklearn-compat<1,>=0.1
  Downloading sklearn_compat-0.1.3-py3-none-any.whl (18 kB)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn) (3.5.0)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: joblib<2,>=1.1.1 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.2)
Collecting numpy<3,>=1.24.3
  Downloading numpy-2.2.2-cp310-cp310-win_amd64.whl (12.9 MB)
     --------------------------------------- 12.9/12.9 MB 13.9 MB/s eta 0:00:00
Collecting scipy<2,>=1.10.1
  Downloading scipy-1.15.1-cp310-cp310-win_amd64.whl (43.9 MB)
     ---------------------------------------- 43.9/43.9 MB 9.3 MB/s eta 0:00:00
Installing collected packages: numpy, scipy, sklearn-compat, imbalanced-learn
  Attempting uninstall: numpy
    Found existing installation: numpy 1.23.5
    Uninstalling numpy-1.23.5:
      Successfully uninstalled numpy-1.23.5
  Attempting uninstall: scipy
    Found existing installation: scipy 1.10.0
    Uninstalling scipy-1.10.0:
      Successfully uninstalled scipy-1.10.0
  Attempting uninstall: imbalanced-learn
    Found existing installation: imbalanced-learn 0.10.1
    Uninstalling imbalanced-learn-0.10.1:
      Successfully uninstalled imbalanced-learn-0.10.1
Successfully installed imbalanced-learn-0.13.0 numpy-2.2.2 scipy-1.15.1 sklearn-compat-0.1.3

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gensim 4.3.0 requires FuzzyTM>=0.4.0, which is not installed.
scikeras 0.13.0 requires keras>=3.2.0, but you have keras 2.14.0 which is incompatible.
numba 0.56.4 requires numpy<1.24,>=1.18, but you have numpy 2.2.2 which is incompatible.

In [32]:
X = df.drop(['income_>50K'], axis = 1)
y = df['income_>50K']

In [33]:
df.shape

(43957, 15)

In [34]:
df['income_>50K'].value_counts()

0    33439
1    10518
Name: income_>50K, dtype: int64

In [37]:
import numpy
print(numpy.__version__)
#from imblearn.under_sampling import RandomUnderSampler

1.23.5

In [38]:
pip install --upgrade numpy

Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.